@media screen and (min-width: 1280px) {
  .content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 1100px) {
  .storyGame, .cardGame, .frogger, .jasmine, .universe, .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 24rem;
    height: 34rem; }
  .memory-gameIMG, .froggerIMG, .storyIMG, .jasmineIMG, .universeIMG, .formIMG {
    height: 100%; }
  .storyImage, .cardImage, .froggerImage, .jasmineImage, .universeImage, .formImage {
    width: 100%;
    height: 60%; }
  .storyDesc, .cardDesc, .froggerDesc, .jasmineDesc, .universeDesc, .formDesc {
    width: 100%;
    height: 40%; } }

@media screen and (max-width: 700px) {
  header {
    height: 8em; }
  .sideMenu {
    display: block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .uList {
    display: none; }
  .intro {
    height: 60%; }
  .navBar {
    height: 40%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-top: 1px solid white; }
  .intro {
    padding-right: 1rem;
    padding-top: 1rem;
    height: 50%; }
  .mainTitle {
    font-size: 18px; }
  .titleDesc {
    font-size: 12px; }
  .menuButton {
    display: block; }
  .about, .projects, .experience {
    width: 100%; }
  .titleAbout, .titleProj, .titleExp {
    background-color: #FFFAF0;
    padding: 0;
    font-size: 30px;
    margin-top: 0px;
    border-top: none;
    -webkit-box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.5); }
  .contentAbout, .projCont, .expCont {
    margin-top: 0px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .listAbout[active=""], .listProj[active=""], .listExp[active=""] {
    background-color: rgba(255, 255, 255, 0.75);
    color: black; }
  .navBar[active=""] {
    height: 8vh; } }

@media screen and (max-width: 375px) and (max-height: 812px) {
  header {
    height: 17vh; }
  .intro {
    height: 56%; }
  .navBar {
    padding-top: 5px;
    height: 44%; }
  .navBar[active=""] {
    height: 3.3em; } }
