header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0px;
  background-color: #D8D8D8;
  width: 100%;
  min-height: 100%;
  position: relative; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 25vh;
  background-color: #2E2E2E; }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-right: 100px;
  width: 100%;
  color: white;
  height: 70%; }

.mainTitle {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.titleDesc {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px; }

.navBar {
  color: white;
  width: 100%;
  height: 30%;
  font-size: 20px;
  border-top: 2px solid white; }

.navBar[active=""] {
  position: fixed;
  top: 0;
  height: 8vh;
  background-color: #2E2E2E; }

.uList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px; }

.listAbout[active=""], .listProj[active=""], .listExp[active=""] {
  background-color: rgba(255, 255, 255, 0.75);
  color: black; }

.listAbout, .listProj, .listExp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33333333333333333%;
  margin: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.listAbout:hover, .listProj:hover, .listExp:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: black;
  -webkit-box-shadow: inset 0px 100px 0px 0px rgba(255, 255, 255, 0.75);
          box-shadow: inset 0px 100px 0px 0px rgba(255, 255, 255, 0.75); }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.about {
  width: 90%;
  margin-bottom: 15rem; }

.titleAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  padding: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-top: 1rem; }

.contentAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: #E6E6E6;
  -webkit-box-shadow: 0px 20px 30px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 30px 15px rgba(0, 0, 0, 0.5); }

.text {
  text-align: left;
  padding: 10px;
  width: 40%;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
  margin: 0px; }

.imgMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 70%;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.projects {
  width: 90%;
  display: none;
  margin-bottom: 15rem; }

.projCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.titleProj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  padding: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-top: 1rem; }

.storyGame, .cardGame, .frogger, .jasmine, .universe, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50rem;
  height: 20.3rem;
  margin-top: 1rem; }

.storyImage, .cardImage, .froggerImage, .jasmineImage, .universeImage, .formImage {
  width: 47%;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  overflow: hidden; }

.memory-gameIMG, .froggerIMG, .storyIMG, .jasmineIMG, .universeIMG, .formIMG {
  height: 100%;
  position: relative;
  z-index: -1; }

.cardImage:hover .check {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
          box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-transform: translateY(-20rem);
      -ms-transform: translateY(-20rem);
          transform: translateY(-20rem); }

.froggerImage:hover .check {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
          box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-transform: translateY(-20rem);
      -ms-transform: translateY(-20rem);
          transform: translateY(-20rem); }

.jasmineImage:hover .check {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
          box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-transform: translateY(-20rem);
      -ms-transform: translateY(-20rem);
          transform: translateY(-20rem); }

.universeImage:hover .check {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
          box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-transform: translateY(-20rem);
      -ms-transform: translateY(-20rem);
          transform: translateY(-20rem); }

.formImage:hover .check {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
          box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-transform: translateY(-20rem);
      -ms-transform: translateY(-20rem);
          transform: translateY(-20rem); }

.storyImage:hover .check {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
          box-shadow: inset 0px -600px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-transform: translateY(-20rem);
      -ms-transform: translateY(-20rem);
          transform: translateY(-20rem); }

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.check:hover {
  -webkit-transform: translateY(-20rem);
      -ms-transform: translateY(-20rem);
          transform: translateY(-20rem);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.demo, .repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: black;
  text-underline-position: none; }

.demo:hover, .repo:hover {
  cursor: pointer;
  background-color: #CEF6CE;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.commingSoon {
  width: 100%;
  height: 100%; }

.storyDesc, .cardDesc, .froggerDesc, .jasmineDesc, .universeDesc, .formDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 53%;
  height: 100%; }

.storyText, .cardText, .froggerText, .jasmineText, .universeText, .formText {
  font-size: 18px; }

.experience {
  width: 90%;
  display: none;
  margin-bottom: 15rem; }

.expCont {
  width: 100%; }

.titleExp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  padding: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-top: 1rem; }

.expCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: #E6E6E6;
  -webkit-box-shadow: 0px 20px 30px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 30px 15px rgba(0, 0, 0, 0.5); }

.expText {
  text-align: left;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
  margin: 0px; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background-color: #2E2E2E; }

.sideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 20rem;
  height: 25rem;
  background-color: #2E2E2E;
  border: 1px solid black;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.menuHidden .sideMenu {
  -webkit-transform: translateX(-15em);
      -ms-transform: translateX(-15em);
          transform: translateX(-15em);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.sideMenuUl {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.sideMenuUl .listAbout, .sideMenuUl .listProj, .sideMenuUl .listExp {
  color: white;
  background-color: #424242;
  font-size: 20px;
  margin-top: 2rem;
  width: 100%;
  height: 3rem; }

.menuButton {
  background-color: #2E2E2E;
  border: none;
  width: 2rem;
  height: 2rem;
  padding: 0px;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  margin-top: 1rem; }

.glyphicon-menu-hamburger {
  color: white;
  width: 100%;
  font-size: 2.2rem; }
