header {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #D8D8D8;
	width: 100%;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 25vh;
	background-color: #2E2E2E;

	.intro {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		padding-right: 100px;
		width: 100%;
		color: white;


		.mainTitle {
		font-size: 40px;
		display: flex;
		justify-content: flex-end;
		}

		.titleDesc {
			font-size: 20px;
			display: flex;
			justify-content: flex-end;
			margin-top: 10px;
		}
	}

	.navBar {
		color: white;
		width: 100%;
		font-size: 20px;
		border-top: 2px solid white;
	}

	.uList {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 0px;
		margin: 0px;
	}

	.list {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 33.33333333333333333%;
		margin: 0px;
		transition: 0.5s;
	}

	.list:hover {
		cursor: pointer;
		transition: 0.5s;
		color: black;
		box-shadow: inset 0px 100px 0px 0px rgba(255,255,255,0.75);
	}
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

	.about {
		width: 90%;
	}


		.titleAbout {
			display: flex;
			justify-content: center;
			font-size: 40px;
			padding: 20px;
			border-bottom: 2px solid black;
			border-top: 2px solid black;
			margin-top: 1rem;
		}

		.contentAbout {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 10px;
			margin-top: 1rem;
			border: 1px solid black;
			background-color: #E6E6E6;
			box-shadow: 0px 20px 30px 15px rgba(0,0,0,0.50);
		}
			.text {
				text-align: left;
				padding: 10px;
				width: 40%;
				font-size: 18px;
				font-weight: bold;
				word-wrap: break-word;
				margin: 0px;

			}

			.imgMe {
				display: flex;
				justify-content: center;
				width: 50%;
				height: 70%;
				box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.50);
				transition: 0.5s;
			}

			.projects {
				width: 90%;

			}

			.projCont {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-between;
			}

			.titleProj {
				display: flex;
				justify-content: center;
				font-size: 40px;
				padding: 20px;
				border-bottom: 2px solid black;
				border-top: 2px solid black;
				margin-top: 5rem;
			}

			.storyGame, .cardGame, .frogger, .jasmine, .universe, .form {
				display: flex;
				flex-direction: row;
				width: 35rem;
				height: 20rem;
				margin-top: 1rem;
			}

			.storyImage, .cardImage, .froggerImage, .jasmineImage, .universeImage, .formImage {
				width: 40%;
				height: 100%;
				border: 2px solid black;
				background-color: purple;
				transition: 1s;
			}

			.storyImage:hover, .cardImage:hover, .froggerImage:hover, .jasmineImage:hover, .universeImage:hover, .formImage:hover {
				transition: 1s;
				box-shadow: inset 0px -600px 0px 0px rgba(255,255,255,0.75);
			}

			.storyDesc, .cardDesc, .froggerDesc, .jasmineDesc, .universeDesc, .formDesc {
				display: flex;
				justify-content: center;
				width: 60%;
				height: 100%;
			}

			.storyText, .cardText, .froggerText, .jasmineText, .universeText, .formText {
				font-size: 18px;
			}

			.experience {
				width: 90%;
			}

			.expCont {
				width: 100%;
			}

			.titleExp {
				display: flex;
				justify-content: center;
				font-size: 40px;
				padding: 20px;
				border-bottom: 2px solid black;
				border-top: 2px solid black;
				margin-top: 5rem;
			}

			.expCont {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 10px;
				margin-top: 1rem;
				border: 1px solid black;
				background-color: #E6E6E6;
				box-shadow: 0px 20px 30px 15px rgba(0,0,0,0.50);
			}

			.expText {
				text-align: left;
				padding: 10px;
				width: 100%;
				font-size: 18px;
				font-weight: bold;
				word-wrap: break-word;
				margin: 0px;
			}










