/* orange theme */
/*
$header: #FF9A2F;
$footer: #FF9A2F;
$body: #F3F3F3;
$pop-menu: #FF9A2F;
$project-cards: white;
$hover-projects: #FFE4C7;
$links: #FF9A2F;
$titleBack: #FFF7F0;
$titleFirst: #FFBB73;
$titleSecond: #FFEAD3;
*/

/* orange theme */
$header: #6B8E23;
$footer: #6B8E23;
$body: #F3F5ED;
$pop-menu: #6B8E23;
$project-cards: white;
$hover-projects: #FFE4C7;
$links: #FF9A2F;
$titleBack: #FFF7F0;
$titleFirst: #6B8E23;
$titleSecond: #F3F5ED;